
.work-button, .uncategorised-button, .image-button {
	background-color: $turquoise;
	color: white;
	border: none;
}

.search-button, .comment-button {
	background-color: $hot-pink;
	color: white;
	border: none;
	margin-top: 0;
}
